[Unit]
Description=Tbrc Project Status View servicio
After=network.target

[Service]
User=akuro
Group=www-data
WorkingDirectory=/var/www/html/tbrc_project_status_view
Environment="PATH=/var/www/html/enviroment/bin:/usr/bin"
ExecStart=/var/www/html/enviroment/bin/uwsgi --yaml deploy.yaml

[Install]
WantedBy=multi-user.target