

.s100001{
    
    @include border-bottom-black;
    
    @include background-color-white;
    
    
    .s100002{
    
    
    .s100003{
    
    
    .s100004{
        
        @include display-flex;
        
        @include justify-content-between;
        
        @include align-items-center;
        
        @include padding-y1;
        
        
        .s100005{
            
            @include display-flex;
            
            @include flex-gap1;
            
            @include align-items-center;
            
            @include font-size-large;
            
            
            
        .topbar-main-logo-container{
            width:$topbar-main-logo-width;
            height:$topbar-main-logo-height;
            display:inline-flex;
            justify-content:center;
            align-items:center;
            a{
                img{
                    max-width:100%;
                    max-height:100%;
                }
            }
            
        }

            
            
        .s100008{
            
            @include black-text-link;
            
            @include display-flex;
            
            @include flex-gap1;
            
            
        }

            
        }
        
        .s100009{
            
            @include display-flex;
            
            @include flex-gap1;
            
            @include align-items-center;
            
            
            
        .s100011{
            
            
            .tbrc-edit-mode-img-container{
            width:$tbrc-edit-mode-img-width;
            height:$tbrc-edit-mode-img-height;
            display:inline-flex;
            justify-content:center;
            align-items:center;
            a{
                img{
                    max-width:100%;
                    max-height:100%;
                }
            }
            
        }
            
        }

            
            

        .gallery-link-contacts-icon-container{
            width:$gallery-link-contacts-icon-width;
            height:$gallery-link-contacts-icon-height;
            display:inline-flex;
            justify-content:center;
            align-items:center;
            a{
                img{
                    max-width:100%;
                    max-height:100%;
                }
            }
            
            @include background-color-three-darker;
            
            @include font-color-black;
            
        }



        .gallery-link-top-icon-container{
            width:$gallery-link-top-icon-width;
            height:$gallery-link-top-icon-height;
            display:inline-flex;
            justify-content:center;
            align-items:center;
            a{
                img{
                    max-width:100%;
                    max-height:100%;
                }
            }
            
        }


            
            
        .s100015{
            position: relative;
          
            .profile {
              position: relative;
              width: 32px;
              height: 32px;
              border-radius: 50%;
              overflow: hidden;
              cursor: pointer;
          
              img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          
            .menu {
              position: absolute;
              top: 120px;
              right: -10px;
              padding: 10px 20px;
              background: #fff;
              width: 200px;
              box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
              border-radius: 15px;
              transition: 0.5s;
              visibility: hidden;
              opacity: 0;
              z-index:10;
              box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
          
              &.active {
                top: 70px;
                visibility: visible;
                opacity: 1;
              }
          
              &::before {
                content: "";
                position: absolute;
                top: -5px;
                right: 28px;
                width: 20px;
                height: 20px;
                background: #fff;
                transform: rotate(45deg);
              }
          
              h3 {
                width: 100%;
                text-align: center;
                font-size: 18px;
                padding: 1rem 0;
                font-weight: 500;
                color: #555;
                line-height: 1.5em;
          
                span {
                  font-size: 14px;
                  color: #cecece;
                  font-weight: 300;
                }
              }

              ul{
                padding-left: 0;
                margin-bottom: 0;
              }
          
              ul li {
                list-style: none;
                padding: 1rem 0;
                border-top: 1px solid rgba(0, 0, 0, 0.05);
                display: flex;
                align-items: center;
          
                img {
                  max-width: 20px;
                  margin-right: 10px;
                  opacity: 0.5;
                  transition: 0.5s;
                }
          
                &:hover img {
                  opacity: 1;
                }
          
                a {
                  display: inline-block;
                  text-decoration: none;
                  color: #555;
                  font-weight: 500;
                  transition: 0.5s;
                }
          
                &:hover a {
                  color: #ff5d94;
                }
              }
            }
          }
          
            
        }
        
    }
    
}
    
}
    
}



