

.s100571{
    
    @include border-bottom-black;
    
    @include background-color-white;
    
    
    .s100572{
    
    
    .s100573{
    
    
    .s100574{
        
        @include display-flex;
        
        @include justify-content-end;
        
        @include align-items-center;
        
        @include padding-y2;
        
        
        .s100575{
            
            @include display-flex;
            
            @include flex-gap1;
            
            @include align-items-center;
            
            @include font-size-large;
            
            
        }
        
    }
    
}
    
}
    
}

.s100576{
    
    @include padding-b4;
    
    @include padding-t4;
    
    
    .s100577{
    
    
    .s100578{
        
        
    }
    
    .s100579{
        
        
        .s100580{
          
          @include simple-card;
          
          @include padding-y4;
          
          @include padding-x4;
          

          
          .s100581{
                
                @include font-size-xxxlarge;
                
                @include font-family-one;
                
                @include text-align-center;
                
                @include padding-b1;
                
                
                
                
            }
          
          .set-pass-password {
              display: flex;
              flex-direction: column;
              width: 100%;
              

              label {
                
                @include margin-b05;
                
                @include font-size-medium;
                
              }

              .help {
                
              }

              .input-container{
                input {
                  
                  @include common-inputs-styles;
                  
              
                  &::placeholder {
                    
                  }
              
                  &:focus {
                    
                  }
                }
              }  
            }
          
          .s100583{
                
                
                
            .s100585{
                
                
                
                
            }

                
            }
          
          .s100587{
                
                @include display-flex;
                
                @include align-items-center;
                
                @include justify-content-center;
                
                @include padding-y1;
                
                
                .s100588 {
              
              
              
              
              @include gray-background-link;
              
              @include font-color-white;
              
              @include padding-x4;
              
              @include black-text-link;
              
              @include button-radius;
              
            }
                
            }
          
        }
        
    }
    
}
    
}

