

.s100551{
    
    @include border-bottom-black;
    
    @include background-color-white;
    
    
    .s100552{
    
    
    .s100553{
    
    
    .s100554{
        
        @include display-flex;
        
        @include justify-content-end;
        
        @include align-items-center;
        
        @include padding-y2;
        
        
        .s100555{
            
            @include display-flex;
            
            @include flex-gap1;
            
            @include align-items-center;
            
            @include font-size-large;
            
            
        }
        
    }
    
}
    
}
    
}

.s100556{
    
    @include padding-b4;
    
    @include padding-t4;
    
    
    .s100557{
    
    
    .s100558{
        
        
    }
    
    .s100559{
        
        
        .s100560{
          
          @include simple-card;
          
          @include padding-y4;
          
          @include padding-x4;
          

          
          .s100561{
                
                @include font-size-xxxlarge;
                
                @include font-family-one;
                
                @include text-align-center;
                
                @include padding-b1;
                
                
                
                
            }
          
          .pass-change-email {
              display: flex;
              flex-direction: column;
              width: 100%;
              

              label {
                
                @include margin-b05;
                
                @include font-size-medium;
                
              }

              .help {
                
              }

              .input-container{
                input {
                  
                  @include common-inputs-styles;
                  
              
                  &::placeholder {
                    
                  }
              
                  &:focus {
                    
                  }
                }
              }  
            }
          
          .s100563{
                
                
                
            .s100565{
                
                
                
                
            }

                
            }
          
          .s100567{
                
                @include display-flex;
                
                @include align-items-center;
                
                @include justify-content-center;
                
                @include padding-y1;
                
                
                .s100568 {
              
              
              
              
              @include gray-background-link;
              
              @include font-color-white;
              
              @include padding-x4;
              
              @include black-text-link;
              
              @include button-radius;
              
            }
                
            }
          
        }
        
    }
    
}
    
}

