{% set contacts_page_data = contacts_page_data_collection(project_url) %}

{% extends 'general_template.html' %}
{% block css_dependencies_loaders%}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
{% endblock %}

{% block html%}

<div class="s100395 div-element">
    
    <div class="container s100396">
        
        <div class="row s100397">
            
            <div class="col s100398">
                
                <h1 class="s100399 h1-element">
                    
                    {{contacts_page_data['contacts_page_title']}}
                    
                </h1>
                
            </div>
            
        </div>
        
        <div class="row s100401">
            
            <div class="col s100402">
                
                <table class="s100403 table-element">
                    
                    <tr class="s100404 tr-element">
                        
                        {%for simple_info_data in contacts_page_data.contacts_page_columns %}

                        <th class="s100406 th-element">
                            
                            {{simple_info_data['simple_title']}}
                            
                        </th>

                        {%endfor%}
                        
                        <th class="s100408 th-element">
                            
                        </th>
                        
                        <th class="s100409 th-element">
                            
                        </th>
                        
                    </tr>
                    
                    {%for contacts_item_data in contacts_page_data.contacts_page_items %}

                    <tr class="s100411 tr-element">
                        
                        <td 
                            class="s100412 td-element" 
                            
                            
                        >
                            
                            <div class="s100413 styled-label-getter">
                            {{contacts_item_data['contacts_item_role']}}
                            </div>
                            
                        </td>
                        
                        <td 
                            class="s100414 td-element" 
                            
                            
                        >
                            
                            {{contacts_item_data['contacts_item_name']}}
                            
                        </td>
                        
                        <td 
                            class="s100416 td-element" 
                            
                            
                        >
                            
                            {{contacts_item_data['contacts_item_company']}}
                            
                        </td>
                        
                        <td 
                            class="s100418 td-element" 
                            
                            
                        >
                            
                            {{contacts_item_data['contacts_item_email']}}
                            
                        </td>
                        
                        <td 
                            class="s100420 td-element" 
                            
                            
                        >
                            
                            {{contacts_item_data['contacts_item_phone']}}
                            
                        </td>
                        
                        <td 
                            class="s100422 td-element" 
                            
                            
                        >
                            
                            {% if general_data['edit_mode_on'] %}

                            <div class="s100424 button-modal-pair" data-akuro-ct="button-modal-pair" data-akuro-c="s100424">
                              <div class="button-container">
                                
                                <button role="button" type="button" class="s100425 button-component"><div class="contacts-page-edit-icon-img-container">
                                    <img src="{{contacts_page_data['contacts_page_edit_icon']}}"/>
                                </div></button>
                                
                              </div>
                              <div class="modal-container">
                                
                                <div class="modal contacts-data-modal" data-open="0" tabindex="-1">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                        <div class="modal-body">
                                            
                                            <form action="{{contacts_page_data['contacts_modal_action']}}" method="{{contacts_page_data['contacts_modal_method']}}" class="akuro-form s100377 stable-form-container" data-akuro-ct="stable-form-container" data-akuro-c="s100377">
                                              <!-- Form input components here. Labels will be visible -->
                                              
                                              
                                              <input 
                                                  type="hidden" 
                                                  
                                                  name="current_contacts_id" 
                                                  
                                                  
                                                  value="{{contacts_item_data['contacts_item_id']}}" 
                                                  
                                                  id="current_contacts_id" 
                                                  
                                                />
                                              
                                              <div class="contacts-name form-input" data-error-message="{{contacts_page_data['contacts_name_error']}}" data-akuro-ct="form-input" data-akuro-c="contacts-name">
                                                  <label for="contacts_name">{{contacts_page_data['contacts_name_label']}}</label>
                                                  
                                                  <div class="input-container">
                                                    <input 
                                                      type="text" 
                                                      name="contacts_name" 
                                                      id="contacts_name" 
                                                      placeholder="{{contacts_page_data['contacts_name_placeholder']}}"
                                                      value="{{contacts_item_data['contacts_item_name']}}"
                                                      />
                                                  </div>
                                                </div>
                                              
                                              <div class="contacts-company form-input" data-error-message="{{contacts_page_data['contacts_company_error']}}" data-akuro-ct="form-input" data-akuro-c="contacts-company">
                                                  <label for="contacts_company">{{contacts_page_data['contacts_company_label']}}</label>
                                                  
                                                  <div class="input-container">
                                                    <input 
                                                      type="text" 
                                                      name="contacts_company" 
                                                      id="contacts_company" 
                                                      placeholder="{{contacts_page_data['contacts_company_placeholder']}}"
                                                      value="{{contacts_item_data['contacts_item_company']}}"
                                                      />
                                                  </div>
                                                </div>
                                              
                                              <div class="contacts-email form-input-email" data-error-message="{{contacts_page_data['contacts_email_error']}}" data-akuro-ct="form-input-email" data-akuro-c="contacts-email">
                                                  <label for="contacts_email">{{contacts_page_data['contacts_email_label']}}</label>
                                                  
                                                  <div class="input-container">
                                                    <input 
                                                      type="email" 
                                                      name="contacts_email" 
                                                      id="contacts_email" 
                                                      value="{{contacts_item_data['contacts_item_email']}}"
                                                      placeholder="{{contacts_page_data['contacts_email_placeholder']}}"
                                                      >
                                                  </div>
                                                </div>
                                              
                                              <div class="contacts-phone form-input" data-error-message="{{contacts_page_data['contacts_phone_error']}}" data-akuro-ct="form-input" data-akuro-c="contacts-phone">
                                                  <label for="contacts_phone">{{contacts_page_data['contacts_phone_label']}}</label>
                                                  
                                                  <div class="input-container">
                                                    <input 
                                                      type="text" 
                                                      name="contacts_phone" 
                                                      id="contacts_phone" 
                                                      placeholder="{{contacts_page_data['contacts_phone_placeholder']}}"
                                                      value="{{contacts_item_data['contacts_item_phone']}}"
                                                      />
                                                  </div>
                                                </div>
                                              
                                              <div class="alert-space s100378 alert-space-element">
                                                    
                                                </div>
                                              
                                              <div class="s100379 div-element">
                                                    
                                                    <button class="s100380 form-submit-button" type="button" data-akuro-ct="form-submit-button" data-akuro-c="s100380">
                                                      
                                                      {{contacts_page_data['contacts_modal_save_label']}}
                                                      
                                                    </button>
                                                    
                                                </div>
                                              

                                            </form>
                                            
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                
                              </div>
                            </div>

                            {%endif%}
                            
                        </td>
                        
                        <td 
                            class="s100426 td-element" 
                            
                            
                        >
                            
                            {% if general_data['edit_mode_on'] %}

                            <div class="s100428 button-modal-pair" data-akuro-ct="button-modal-pair" data-akuro-c="s100428">
                              <div class="button-container">
                                
                                <button role="button" type="button" class="s100429 button-component"><div class="contacts-page-trash-icon-img-container">
                                    <img src="{{contacts_page_data['contacts_page_trash_icon']}}"/>
                                </div></button>
                                
                              </div>
                              <div class="modal-container">
                                
                                <div class="modal contacts-delete-modal" data-open="0" tabindex="-1">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                        <div class="modal-body">
                                            
                                            <div class="s100382 div-element">
                                                
                                                <div class="contacts-delete-title-icon-img-container">
                                                    <img src="{{contacts_page_data['contacts_delete_title_icon']}}"/>
                                                </div>
                                                
                                                <div class="s100383 styled-label-getter">
                                                {{contacts_page_data['contacts_delete_title']}}
                                                </div>
                                                
                                            </div>
                                            
                                            <div class="s100384 styled-label-getter">
                                            {{contacts_page_data['contacts_delete_alert']}}
                                            </div>
                                            
                                            <form action="{{contacts_page_data['contacts_delete_action']}}" method="{{contacts_page_data['contacts_delete_method']}}" class="akuro-form s100385 stable-form-container" data-akuro-ct="stable-form-container" data-akuro-c="s100385">
                                              <!-- Form input components here. Labels will be visible -->
                                              
                                              
                                              <input 
                                                  type="hidden" 
                                                  
                                                  name="current_contacts_id" 
                                                  
                                                  
                                                  value="{{contacts_item_data['contacts_item_id']}}" 
                                                  
                                                  id="current_contacts_id" 
                                                  
                                                />
                                              
                                              <button role="button" value="contacts_delete_button" name="contacts_delete_button" type="submit" class="contacts-delete-button submit-component">{{contacts_page_data['contacts_confirm_label']}}</button>
                                              
                                              <button role="button" type="button" class="s100387 bootstrap-dismiss-modal-button" data-bs-dismiss="modal">{{contacts_page_data['contacts_cancel_label']}}</button>
                                              

                                            </form>
                                            
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                
                              </div>
                            </div>

                            {%endif%}
                            
                        </td>
                        
                    </tr>

                    {%endfor%}
                    
                </table>
                
            </div>
            
        </div>
        
        <div class="row s100430">
            
            <div class="col-12 col-md-12 s100431">
                
                <div class="pager s100432" data-akuro-ct="tbrc-paginator" data-akuro-c="s100432">
                    {%if contacts_page_data['contacts_page_paginator_prev'] not in ['None','',' ', None] %} 
                    <a class="page-link" href="{{contacts_page_data['contacts_page_paginator_prev']}}" aria-label="Previous">
                      <span aria-hidden="true">&lt;</span>
                    </a>
                    {%endif%}
                    <a class="page-link current" href="#" aria-label="Current">{{contacts_page_data['contacts_page_paginator_current']}}</a>
                    <span>of {{contacts_page_data['contacts_page_paginator_total']}}</span>
                    {%if contacts_page_data['contacts_page_paginator_next'] not in ['None','',' ', None] %} 
                    <a class="page-link" href="{{contacts_page_data['contacts_page_paginator_next']}}" aria-label="Next">
                      <span aria-hidden="true">&gt;</span>
                    </a>
                    {%endif%}
                </div>
                
            </div>
            
        </div>
        
    </div>
    
</div>

{% endblock %}

{% block support_html%}

<!-- s100395-->

{% endblock %}

{% block js_dependencies_loaders%}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}

{% block js_initialization%}

























































<script>
  akuro.registerComponent("form-input-hidden", [], (elm)=>{
    class AkuroInput{
        constructor(elm){
            this.elm = elm;
        }
        getValue(){
            let input = this.elm.querySelector("input");
            return input.value;
        }
        validate(){
            return [];
        }
    }
    return new AkuroInput(elm)
  })
  akuro.instantiate("form-input-hidden", document.querySelectorAll(".current-contacts-id"))
</script>


<script>
  akuro.registerComponent("form-input", [], (elm)=>{
    let text = elm.dataset.errorMessage;

    class AkuroInput{
        constructor(elm){
            this.elm = elm;
        }
        getValue(){
            let input = this.elm.querySelector("input");
            return input.value;
        }
        validate(){
            if (this.getValue() == null || this.getValue() == undefined || this.getValue() == "" || this.getValue() == " "){
              return [text];
            }else{
              return [];
            }
        }
    }
    return new AkuroInput(elm)
  })
  akuro.instantiate("form-input", document.querySelectorAll(".contacts-name"))
</script>


<script>
  akuro.registerComponent("form-input", [], (elm)=>{
    let text = elm.dataset.errorMessage;

    class AkuroInput{
        constructor(elm){
            this.elm = elm;
        }
        getValue(){
            let input = this.elm.querySelector("input");
            return input.value;
        }
        validate(){
            if (this.getValue() == null || this.getValue() == undefined || this.getValue() == "" || this.getValue() == " "){
              return [text];
            }else{
              return [];
            }
        }
    }
    return new AkuroInput(elm)
  })
  akuro.instantiate("form-input", document.querySelectorAll(".contacts-company"))
</script>


<script>
  akuro.registerComponent("form-input-email", [], (elm)=>{
    let text = elm.dataset.errorMessage;

    class AkuroInput{
        constructor(elm){
            this.elm = elm;
        }
        getValue(){
            let input = this.elm.querySelector("input");
            return input.value;
        }
        validate(){
          let val = this.getValue();
          let at_index = val.indexOf("@");
          let dot_index = val.indexOf(".", at_index);
          if (val == null || val == undefined || val == "" || val == " " ||  at_index < 0 || dot_index <= at_index+1 || dot_index == val.length-1){
            return [text];
          }else{
            return [];
          }
        }
    }
    return new AkuroInput(elm)
  })
  akuro.instantiate("form-input-email", document.querySelectorAll(".contacts-email"))
</script>


<script>
  akuro.registerComponent("form-input", [], (elm)=>{
    let text = elm.dataset.errorMessage;

    class AkuroInput{
        constructor(elm){
            this.elm = elm;
        }
        getValue(){
            let input = this.elm.querySelector("input");
            return input.value;
        }
        validate(){
            if (this.getValue() == null || this.getValue() == undefined || this.getValue() == "" || this.getValue() == " "){
              return [text];
            }else{
              return [];
            }
        }
    }
    return new AkuroInput(elm)
  })
  akuro.instantiate("form-input", document.querySelectorAll(".contacts-phone"))
</script>








<script>
  akuro.registerComponent("form-submit-button", [], (elm)=>{

    elm.addEventListener("click", (evt)=>{
      akuro.getElm(elm.closest(".akuro-form")).validate();      
    })

    return new AkuroInput(elm)
  })
  akuro.instantiate("form-submit-button", document.querySelectorAll(".s100380"))
</script>



<script>
  akuro.registerComponent("stable-form-container", [], (elm)=>{
    let error_space = elm.querySelector(".alert-space");

    class AkuroForm{
      constructor(elm){
          this.elm = elm;
      }
      validate(){
        let errors = [];         
        this.elm.querySelectorAll("[data-akuro_key]").forEach((input)=>{
            try{
                errors = errors.concat(akuro.getElm(input).validate());
            }catch(e){console.log(e);}
        });
        
        if (errors.length > 0) {
          let join_errors = errors.join("<br>");
          error_space.innerHTML = `<div class="alert alert-danger line" role="alert">${join_errors}</div>`;
        } else {
          this.elm.submit();
        }
      }
  }

    return new AkuroForm(elm)
  })
  akuro.instantiate("stable-form-container", document.querySelectorAll(".s100377"))
</script>


<script>
    akuro.registerComponent("bootstrap-modal", [], (elm)=>{
        const myModal = new bootstrap.Modal(elm, {backdrop:true})
        let open =  (elm.dataset.open+"").toLowerCase();
        open =  open == "yes" || open == "si" || open == "1" || open == "true"
        if(open){
            myModal.show()        
        }
        return new LoadedElm(elm, myModal);
    })
    akuro.instantiate("bootstrap-modal", document.querySelectorAll(".contacts-data-modal"))
</script>


<script>
  akuro.registerComponent("button-modal-pair", [], (elm)=>{
    let button = elm.querySelector(".button-container").children[0];
    let modal = elm.querySelector(".modal-container").children[0];
    const myModalAlternative = new bootstrap.Modal(modal, {})
    button.addEventListener("click", (evt)=>{
      myModalAlternative.show();
    })
    return new LoadedElm(elm, "Name")
  })
  akuro.instantiate("button-modal-pair", document.querySelectorAll(".s100424"))
</script>





















<script>
  akuro.registerComponent("form-input-hidden", [], (elm)=>{
    class AkuroInput{
        constructor(elm){
            this.elm = elm;
        }
        getValue(){
            let input = this.elm.querySelector("input");
            return input.value;
        }
        validate(){
            return [];
        }
    }
    return new AkuroInput(elm)
  })
  akuro.instantiate("form-input-hidden", document.querySelectorAll(".current-contacts-id"))
</script>










<script>
  akuro.registerComponent("stable-form-container", [], (elm)=>{
    let error_space = elm.querySelector(".alert-space");

    class AkuroForm{
      constructor(elm){
          this.elm = elm;
      }
      validate(){
        let errors = [];         
        this.elm.querySelectorAll("[data-akuro_key]").forEach((input)=>{
            try{
                errors = errors.concat(akuro.getElm(input).validate());
            }catch(e){console.log(e);}
        });
        
        if (errors.length > 0) {
          let join_errors = errors.join("<br>");
          error_space.innerHTML = `<div class="alert alert-danger line" role="alert">${join_errors}</div>`;
        } else {
          this.elm.submit();
        }
      }
  }

    return new AkuroForm(elm)
  })
  akuro.instantiate("stable-form-container", document.querySelectorAll(".s100385"))
</script>


<script>
    akuro.registerComponent("bootstrap-modal", [], (elm)=>{
        const myModal = new bootstrap.Modal(elm, {backdrop:true})
        let open =  (elm.dataset.open+"").toLowerCase();
        open =  open == "yes" || open == "si" || open == "1" || open == "true"
        if(open){
            myModal.show()        
        }
        return new LoadedElm(elm, myModal);
    })
    akuro.instantiate("bootstrap-modal", document.querySelectorAll(".contacts-delete-modal"))
</script>


<script>
  akuro.registerComponent("button-modal-pair", [], (elm)=>{
    let button = elm.querySelector(".button-container").children[0];
    let modal = elm.querySelector(".modal-container").children[0];
    const myModalAlternative = new bootstrap.Modal(modal, {})
    button.addEventListener("click", (evt)=>{
      myModalAlternative.show();
    })
    return new LoadedElm(elm, "Name")
  })
  akuro.instantiate("button-modal-pair", document.querySelectorAll(".s100428"))
</script>

















{% endblock %}
